<div class="hero-image">
    <div class="top-right">
        <div class="card border-0" >
            <img class="img-fluid text-center" width="85%" src="../../../../assets/static/logo-black.svg" alt="Card image cap">
            <div class="card-body" style="background-color: white;">
                <h1 class="card-title">Reset Password</h1>
                <p class="card-text">Type new password</p>
                <form class="form-signin" [formGroup]="resetForm" (ngSubmit)="onSubmit()" id="login-form" class="needs-validation">
                    <div class="form-label-group">
                      <!-- <label for="emailaddress">Email address</label> -->
                      <input type="password" class="form-control" placeholder="Password"
                      formControlName="password" id="emailaddress"
                            [ngClass]="{ 'is-invalid': f.password.errors && (f.password.touched || submitted), 'is-valid' : f.password.valid }" required 
                      autofocus>
                      <div class="invalid-feedback">Password is required.</div>
                    </div>
                    <div class="form-label-group">
                        <!-- <label for="emailaddress">Email address</label> -->
                        <input type="password" class="form-control" placeholder="Confirm Password"
                        formControlName="c_password" id="emailaddress"
                              [ngClass]="{ 'is-invalid': f.c_password.errors && (f.c_password.touched || submitted), 'is-valid' : f.c_password.valid }" required 
                        autofocus>
                        <div class="invalid-feedback">Confirm Password is required.</div>
                      </div>
                <button class="btn btn-lg btn-primary btn-block" [disabled]="resetForm.invalid" type="submit">Change Password</button>
            </form>
                <div style="margin-top: 5px;">
                    <label>Already have an account? <a [routerLink]="['/login']">Sign In</a></label>
                </div>
            </div>
        </div>
        <div class="text-center">
            <p style="color: #00BADF;">&copy; MYVGYM 2020. ALL RIGHTS RESERVED.</p>
        </div>
    </div>
  </div>
  